spitty
./spitty
spito
./spito
RUNNING_PID
RUNNING_ID
*.swp

build/

# sublime related
*.sublime-workspace

build-release/

# Elastic Beanstalk Files
#.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
