{{ template "header" }}

<h1>new spit</h1>
<form action="/spitty/add" method="POST">
	<div>
    	<label for="content">URL or plain text to shorten</label>
        <textarea id="content" name="content" placeholder="Paste here your URL or plain text" required autofocus></textarea>
    </div>
	<label for="exp">expire in (0: infinity) - seconds</label>
	<input id="exp" name="exp" type="number" step="1" min="0" value="3600" required/>
	<div>
		<p>
			<input type="submit" value="Shorten it &amp; Spit it">
		</p>
	</div>

	<div class="notice">
		<h3>notes</h3>
		<ul>
			<li>All <strong>lp.gs</strong> URLs are public and can be accessed by anyone who has the link.</li>
			<li><strong>Spitty</strong> does not look into the content of your links or text spits and only take some statistics on the spit link itself (ie. number of clicks-visits)</li>
		</ul>
	</div>
</form>

<div class="usage-tips">
	<h3 onclick="displayHideTips();">usage tips (click to toggle)</h3>
	<ul>
		<li><strong>Spitty</strong> can be used like every other <strong>URL link shortener</strong> (ie. <em>is.gd</em> or <em>goo.gl</em>) in order to shrink down long URLs into something less than 20 characters that is easy to share and tell everybody.</li>
		<li>Additionally, Spitty is a <strong>plain text sharing service</strong> where you can just throw any text inside and generate a super-small link in order to send it over to your friends or colleagues.</li>
		<li>Specify an expiration time for your spit in order to destroy it when the given seconds have passed.</li>
		<li>Spit links are immutable, thus cannot be edited after being created and when the expiration time has passed they <strong>are</strong> deleted from our database so no retrieval is possible.</li>
	</ul>
	<script>
		function displayHideTips() {
			var tips = document.body.querySelector('.usage-tips ul');
			if ( tips.style.display == "none" || tips.style.display == "" || tips.style.display == undefined ) {
				tips.style.display = 'block';
			}else{
				tips.style.display = 'none';
			}
			
		}
	</script>
</div>

{{ template "footer" }}