<html>

<head>

    <link href="style2.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="outer-wrapper" id="outer-header">
        <div class="inner-wrapper" id="inner-header">
            <div id="site-header">
                <div class="site-logo">
                    <img src="logo.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="outer-wrapper" id="outer-mode-bar">
        <div class="inner-wrapper" id="mode-bar">
            <div id="modes">
                <ul>
                    <li class="mode-add"><img src="mode-url.jpg"/></li>
                    <li class="mode-add"><img src="mode-image.jpg"/></li>
                    <li class="mode-add"><img src="mode-text.jpg"/></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="outer-wrapper" id="outer-forms">
        <div class="inner-wrapper">
            <div id="forms">
                <h1>new spit</h1>
                <section class="form-new-spit">
                    <form>
                        <label for="spit-url">Enter URL</label>
                        <input type="url" name="spit-url" id="spit-url" placeholder="Enter the full URL"/>

                        <div>
                            <button class="btn btn-grey" type="submit">spit it</button>
                        </div>
                    </form>

                    <br>

                    <form>
                        <label for="spit-text">Enter text</label>
                        <textarea name="spit-text" id="spit-text" placeholder="Paste your text here"></textarea>
                        <div>
                            <button class="btn btn-yellow" type="submit">spit it</button>
                        </div>
                    </form>

                    <br>

                    <form>
                        <label for="spit-img">Upload your image</label>
                        <input name="spit-img" id="spit-img" type="file">
                        <div>
                            <button class="btn btn-blue" type="submit">spit it</button>
                        </div>
                    </form>

                </section>
            </div>
        </div>
    </div>


    <div class="outer-wrapper" id="outer-footer">
        <div class="inner-wrapper" id="inner-footer">
            <div id="site-footer">
                <div class="site-footer-copyright">
                    <p>&copy; 2014</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>