{{template "header" .Header}}

<article>
    <script>
        function selectAll(containerid) {
            if (document.selection) {
                var range = document.body.createTextRange();
                range.moveToElementText(document.getElementById(containerid));
                range.select();
            } else if (window.getSelection) {
                var range = document.createRange();
                range.selectNode(document.getElementById(containerid));
                window.getSelection().addRange(range);
            }
        }
    </script>

    <header class="spit-header">
        <h1 id="spit-header" class="spit-title" onclick="selectAll(this.id)" title="Click and then CRTL + C to copy the link">{{.Spit.AbsoluteURL}}</h1>
        <img src="http://chart.apis.google.com/chart?chs=100x100&cht=qr&choe=UTF-8&chl={{.Spit.AbsoluteURL}}"/>
    </header> 

    <section class="spit-meta-top">
        <small>
            <ul>
                <li><a href="{{.Spit.AbsoluteURL}}" title="visit spit link - {{.Spit.AbsoluteURL}}">visit spit link</a></li>
            </ul>
        </small>
    </section>

    <section class="spit-body">
        <textarea id="content" name="content" readonly>{{ .Spit.Content }}</textarea>
    </section>

    <section class="spit-meta-bottom">
        <small>
            <ul>
                <li><span class="heading">expiration in (seconds)</span>{{.Spit.Exp}}</li>
                <li><span class="heading">created</span>{{ .Spit.FormattedCreatedTime }}</li>
                <li><span class="heading">clicks</span>{{ .Spit.Clicks }}</li>
            </ul>
        </small>
    </section>
</article>

{{template "footer" .Footer}}
