/*************
 * Tutorial on Google Nexus navigation drawer:
 * http://tympanus.net/codrops/2013/07/30/google-nexus-website-menu/
 */

.display-none {
  display: none;
}
.display-block {
  display: block;
}

.global-shadow {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
  z-index: 10000;
  visibility: hidden;
}
.gn-shadow-open {
  visibility: visible;
  opacity: 1;
}

.gn-menu-wrapper {
    overflow: hidden;
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    transform: translateX(-250px); /* will be transitioned to 0px */
    transition: transform 0.3s, width 0.3s;
    z-index: 10001;
}

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
    left: 0;
    transform: translateX(0px);
    box-shadow: 3px 0 5px 0px #a0a0a0;
    -webkit-box-shadow: 3px 0 5px 0px #a0a0a0;
    -moz-box-shadow: 3px 0 5px 0px #a0a0a0;
}

.gn-scroller {
    position: absolute;
    overflow-y: scroll;
    /*this needs to be a bit wider than .gn-menu-wrapper width to hide the scrollbar*/
    width: 270px;
    height: 100%;
}

.gn-menu {
    text-align: left;
    font-size: 14px;
    padding: 0;
}

ul.gn-menu {
  list-style: none;
}

.gn-menu li {
  padding: 5px 0;
}
.gn-menu li:hover, .gn-menu li:focus {}
.gn-menu li:not(:first-child) {
  box-shadow: inset 0 1px #c6d0da
}

.gn-menu li a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: inherit;
}
.gn-menu li a:hover, .gn-menu li a:focus, .gn-menu li a:active {
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.gn-menu-header {
  font-size: 18px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.vcenter:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.gn-menu-header h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 18px;
  text-indent: 20px;
  font-weight: normal;
}

/*
@media screen and (max-width: 422px) {
    .gn-menu-wrapper.gn-open-all {
        transform: translateX(0px);
        width: 100%;
    }

    .gn-menu-wrapper.gn-open-all .gn-scroller {
        width: 130%;
    }
}
*/

/*******************************************
 *  MENU ICONS
 */

/*
@font-face {
	font-family: 'icomoon';
	src:url('http://i.icomoon.io/public/temp/0ed3c7581b/UntitledProject/icomoon.eot?eshi1b');
	src:url('http://i.icomoon.io/public/temp/0ed3c7581b/UntitledProject/icomoon.eot?#iefixeshi1b') format('embedded-opentype'),
		url('http://i.icomoon.io/public/temp/0ed3c7581b/UntitledProject/icomoon.woff?eshi1b') format('woff'),
		url('http://i.icomoon.io/public/temp/0ed3c7581b/UntitledProject/icomoon.ttf?eshi1b') format('truetype'),
		url('http://i.icomoon.io/public/temp/0ed3c7581b/UntitledProject/icomoon.svg?eshi1b#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?eshi1b');
    src:url('../fonts/icomoon.eot?#iefixeshi1b') format('embedded-opentype');
    src:url('../fonts/icomoon.ttf?eshi1b') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}

.icon-users:before {
    content: "\e972";
}

.icon-list:before {
    content: "\e9ba";
}

/* IMPORT THIS INTO HTML
 * <link rel="stylesheet" href="http://i.icomoon.io/public/temp/0ed3c7581b/UntitledProject/style.css">
 */
.gn-icon::before {
    display: inline-block;
    width: 60px;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}
.gn-icon-home:before {
    content: "\e900";
}
.gn-icon-faq:before {
    content: "\e9ba";
}
.gn-icon-about:before {
    content: "\e972";
}

